<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutanota.kepes.androidproductcatalog">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tutanota.kepes.androidproductcatalog.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tutanota.kepes.androidproductcatalog.customheader" />
        <!--<activity
            android:name="com.tutanota.kepes.androidproductcatalog.DetailProduct"
            android:label="descripción"
            android:parentActivityName="com.tutanota.kepes.androidproductcatalog.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity android:name="com.tutanota.kepes.androidproductcatalog.product_detail"></activity>
    </application>

</manifest>